@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
    margin: auto;
}
.bg-light {
    background-color: white!important;
}
body {
    margin:auto
}

.burger-icon {
    font-size: 1.5rem;
}

#burger-checkbox {
    display: none;
}

header .menu {
    display: none;
}

input:checked ~ .menu {
    display: block;

}
header .menu a, button {
    display: block;
    color: var(--main-color);
    text-decoration: none;
}

header .menu a:hover, button:hover {
    font-weight: bold;
}


header .banner {
    background-image: url(../img/banner-background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 10px;
}

.banner-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    margin: 50px;
    margin-top: 80px;
}

.block-title {
    color: #86bb46;
}

.white-font {
    color: white;
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: color 1s;
    background-color: #86bb46;
}

.button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
div .services .img {
    size: cover;
    margin: auto;
}
.services-content {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
}


@media (min-width: 750px) {
    .services {
        display: flex;

    }
    .services img {
        width: 300px;
        height:fit-content;
    }
    .services-content {
        display: flex;
        align-items:flex-start;
        justify-content:flex-end;
        flex :1;
        padding: 20px;
    }
}

.whyus-content {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 60px;
}

.our-offer {
    border-color: greenyellow;
    border-style: solid;
    border-width: thin;
    background-color:whitesmoke;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 50px;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 3px;
   
}

.carousel-button {

    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    margin: auto;
    margin-bottom: 50px;
}

.leadership {
    background-image: url(../img/saving-the-world.png);
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
#leadership-content {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    margin: 10px;
    margin-top: 80px;

}